body {
  margin: 0;
  width: 320px;
  height: 600px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  color: white;
  background-color: #282c34;
}

/* ---- CUSTOM SCROLL BAR ------ Start */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
  background-color: rgb(233, 233, 233);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #50b3c9;
  border-radius: 10px;
}

/* ---- CUSTOM SCROLL BAR ------ End */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  padding: 0;
  margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  /* Disables selecting the text by user /*
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition: opacity 200ms ease-in-out;
  transition-delay: 400ms;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  opacity: 100;
}

.tooltip .tooltiptext.tooltipright {
  top: -5px;
  left: 130%;
}
